<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "fromthetabletoyourphone.jazargo.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>FromTheTableToYourPhone</name>

    <description>
        Ever wanted to play magic on your phone? what about DnD or Rifts? Using our App FromTheTableToYourPhone, Now You can, Enjoy.
    </description>

    <author href="http://scratch.mit.edu/users/jazargostore" email="jazargostore@gmail.com">
        [jazargo]
    </author>

</widget>
